In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\amank\Downloads\Agri-chatbot-versions\Agri-chatbot\data\questionsv4.csv")
data.head()

,questions,answers
0,asking about the control measure for aphid inf...,suggested him to spray rogor@2ml/lit.at evenin...
1,asking about the control measure of flower dro...,suggested him to apply fertilizer in recommend...
2,asking about how to avail kisan credit card lo...,suggested to consult with officer-marketing an...
3,asking about source of early ahu rice variety,suggested to take early ahu rice variety from ...
4,asking that he has not got proper friut from h...,suggested him to aplly recommended fertilizer ...

In [3]:
data.shape

(178939, 2)

In [4]:
print("Number of questions: ", data['questions'].count())
print("Number of answers: ", data['answers'].count())

Number of questions:  178939
Number of answers:  178816

In [5]:
data['questions'] = data['questions'].str.lower()

In [6]:
data.isna().sum()

questions      0
answers      123
dtype: int64

In [7]:
data.dropna(inplace=True)

In [8]:
print("Number of questions: ", data['questions'].count())
print("Number of answers: ", data['answers'].count())

Number of questions:  178816
Number of answers:  178816

In [9]:
data.shape

(178816, 2)

In [10]:
data.reset_index(drop=True, inplace=True)

In [11]:
data.duplicated().sum()

37791

In [12]:
data.iloc[57]

questions    asking about the control measure to control la...
answers      suggested to apply dithane m-45@2gram/liter of...
Name: 57, dtype: object

In [13]:
data['questions'].iloc[57]

'asking about the control measure to control late blight disease infestation in potato'

In [14]:
data['answers'].iloc[57]

'suggested to apply dithane m-45@2gram/liter of water alternating with ridomil mz-72@2gram/liter of water at 7-10 days interval for 3-4 times'

In [15]:
data['questions'].iloc[103]

'asking about the control measure to control fruit rot problem of cucumber.'

In [16]:
data['answers'].iloc[103]

'suggested to apply dithane m-45@2.5gram/liter of water.'

In [17]:
data['questions'].iloc[208]

'asking about the control measure to control late blight disease in potato.'

In [18]:
data['answers'].iloc[208]

'suggested to apply dithane m-45@2.5gram/liter of water alternating with ridomil mz-72@2gram/liter of water at 7-10 days interval'

In [20]:
duplicates = data[data.duplicated()]
duplicates

,questions,answers
57,asking about the control measure to control la...,suggested to apply dithane m-45@2gram/liter of...
103,asking about the control measure to control fr...,suggested to apply dithane m-45@2.5gram/liter ...
208,asking about the control measure to control la...,suggested to apply dithane m-45@2.5gram/liter ...
230,asking about treatment of diarrhoea in cow.,suggested to administer 3 care bolus @ 2 bolus...
236,asking about the control measure to control la...,suggested to apply dithane m-45@2.5gram/liter ...
...,...,...
178768,query regarding pmkisan.,please visit your nearest agriculture office f...
178778,query regarding sashi plantation.,visit district forest department.
178789,farmer asking query regarding fertilizer dose ...,apply the recommended doses of fertilizer- ure...
178799,asking about chilli leaf curl virus\n,burn the effected plants in a separate area an...
178807,farmer asking query regarding control of dampi...,spray saaf (2g/lit of water) @ 3 spray at 5 da...

In [21]:
duplicates = data[data.duplicated(subset=["questions"])]
duplicates

,questions,answers
57,asking about the control measure to control la...,suggested to apply dithane m-45@2gram/liter of...
88,asking about treatment of diarrhoea in cow.,suggested to administer neblon powder @ 50 gm ...
91,asking about treatment of white diarrhoea of p...,suggested him to administer hostacycline powde...
103,asking about the control measure to control fr...,suggested to apply dithane m-45@2.5gram/liter ...
116,asking about treatment of anoestrus in cow.,suggested to administer prajana capsule @3 cap...
...,...,...
178803,asking about the sowing time of brinjal.,sowing season is october to november.
178804,query regarding pond management.,pond management-\n 1. dewatering and pond dryi...
178807,farmer asking query regarding control of dampi...,spray saaf (2g/lit of water) @ 3 spray at 5 da...
178808,asking that his cow is suffering from mastitis.,tr.: 1. intacef 3 gm 5 no.s @ 1 vial i/m ly da...
178815,asking about plant protection in pumpkin,--

In [22]:
hyphen_rows = data[data['answers'].astype(str).str.strip('-') == ""]
hyphen_rows

                                                questions answers
3331                    query about pm kisan samman nidhi      --
3364     query  regarding a cow showing the signs of d...      --
3520                                     other state call      --
3636                                      incomplete call      --
5457                   query about pm kisan samman nidhi.      --
...                                                   ...     ...
177984   query regarding a cow showing the signs of fo...      --
177988                                   incomplete call       --
178648  asking about control measure of sooty mould of...      --
178688                           query about pig rearing.      --
178815           asking about plant protection in pumpkin      --

[116 rows x 2 columns]

In [23]:
data = data[~data['answers'].astype(str).str.strip('-').eq("")]

In [24]:
data.shape

(178700, 2)

In [25]:
call_transferred_rows = data[data['questions'].str.contains("test call", case=False, na=False)]
call_transferred_rows

,questions,answers
35705,test call,thanks
67761,a test call from exchange and also asked about...,given details about the number 1551 and its se...
114982,test call,টেস্ট কল
129261,test calls\n\n\n\n,टेस्ट कॉल
129262,test call,thank you
129263,test call,thank you
129264,test call,thank you

In [26]:
data = data[~data['questions'].str.contains("test call", case=False, na=False)]
data.shape

(178693, 2)

In [27]:
call_transferred_rows = data[data['answers'].str.contains("transfered", case=False, na=False)]
call_transferred_rows

,questions,answers
481,agri qwerry,transfered to expert
484,agri qwerry,transfered to expert
488,asking about agri problem,transfered to agri expert
497,query is related to agriculture.,successfully transfered to agri expert.
857,asked about poultry,transfered
...,...,...
176440,other state call,transfered to assam
177402,agril. related query,transfered to expert
177415,agri query,transfered
177428,query regarding water management for boro paddy,transfered to expert
178076,query regarding disease in potato,registered and transfered to agri expert

In [28]:
data = data[~data['answers'].str.contains("transfered", case=False, na=False)]
data.shape

(177469, 2)

In [29]:
import re

def contains_alphabet(value):
    return bool(re.search(r'[a-zA-Z]', str(value)))

df_without_letters = data[~data['answers'].astype(str).apply(contains_alphabet)]
df_without_letters

,questions,answers
3182,asking about control of fungal infection,???????? ????? ????? ????? ????? ?????? ? ??? ...
3183,asking about different govt schemes,?????? ??????? ???? ????? ????? ??? ????
3190,other state call,???? ?? ??????????
3202,asking about boro paddy variety.,"???? ???? ??????? ??- ?????, ????????????, ???..."
3317,tell me about the control of french bean ? \n,--कार्बेन्डाजिम 12% + मेंकोजेब 63% डब्लू.पी.(स...
...,...,...
177316,farmer needs information regarding pradhan man...,प्रिय किसान भाई प्रधानमंत्री किसान सम्मान निधि...
177950,asked about kisan call center\n,কৃষি সমবধিও সমোশিয়া থাকিলে কিষান কল সেন্টাৰ - ...
177954,asking about yellowing of arecanut tree,\nपेड़ से 0.75–1 मीटर की दूरी पर रिंग बनाएं और...
178609,asking about control of nematode,????????? ??? ????? ???? ??? ?? ????? ?? ???...
178692,tell me about how to apply pm kisan registrati...,प्रधानमंत्री किसान सम्मान निधि योजना का ऑनलाइन...

In [30]:
df_with_letters = data[data['answers'].astype(str).apply(contains_alphabet)]
df_with_letters

,questions,answers
0,asking about the control measure for aphid inf...,suggested him to spray rogor@2ml/lit.at evenin...
1,asking about the control measure of flower dro...,suggested him to apply fertilizer in recommend...
2,asking about how to avail kisan credit card lo...,suggested to consult with officer-marketing an...
3,asking about source of early ahu rice variety,suggested to take early ahu rice variety from ...
4,asking that he has not got proper friut from h...,suggested him to aplly recommended fertilizer ...
...,...,...
178810,asking about plant growth hormone in chick pea,spray planofix @ 1ml/l.
178811,farmer asking query about bootle gourd.,apply mahafol/bipuk @ 3gm/lit.
178812,asking thathis 8-month pregnant cow is sufferi...,tr.: 1.intacef tazo 3375mg 3 no.s @ 1 vial i/m...
178813,farmer asking query regarding sowing time of b...,sowing time of banana: march-may.\npit size: 4...
178814,asking that his 2 goat are suffering.,tr.: 1. avil tab. 10 no.s @ 1 tab. orally twic...

In [31]:
from pprint import pprint
sample_data = pd.read_csv(r"C:\Users\amank\Downloads\Agri-chatbot-versions\Agri-chatbot\data\sample_data.csv")
sample_data

,questions,answers
0,query regarding diarrhoea,anti diarrhoeal anti biotic steroid &ors
1,asking about the control measure fungal wilt,application of captaf @ 2 gram per litre of water
2,asking about the control measure of downy mild...,suggested him to spray bavistin @1gm/lit of water
3,asking control measure of leaf curl in chilli,spray trifos 40 ec @ 1.5 ml per litre of water
4,querry regarding training of nursery raising,recommended to approach kvk located in pub dal...
...,...,...
95,asking for cultural practices,explain in details
96,asking for fertilizer dose of rice,for dwarf varieties- urea:ssp:mop 18:17:9 half...
97,asking for var,"suggested him kufri jyoti, kufri megha and kuf..."
98,asking for the control measure against fungal ...,suggested to drench the soil around the plant ...
99,regarding fertilizer dose of coconut,"apply urea @ 1 kg,ssp @ 500gm ,mop @ 2kg and b..."

In [32]:
import random
test_data = df_with_letters.sample(n=30000, random_state=42)
test_data.reset_index(drop=True, inplace=True)

In [33]:
test_data

,questions,answers
0,query regarding diarrhoea,anti diarrhoeal anti biotic steroid &ors
1,asking about the control measure fungal wilt,application of captaf @ 2 gram per litre of water
2,asking about the control measure of downy mild...,suggested him to spray bavistin @1gm/lit of water
3,asking control measure of leaf curl in chilli,spray trifos 40 ec @ 1.5 ml per litre of water
4,querry regarding training of nursery raising,recommended to approach kvk located in pub dal...
...,...,...
29995,query regarding cultural practice of paddy,explained details
29996,control of white fly in chilli,spray malathion 50 ec @ 2 ml per liter of water
29997,control measure of leaf curling in chilli,spray 'rogor' @ 2 ml per litre of water
29998,asking about use of bio-activator in brinjal,apply mahaphal @ 2 ml per litre of water
29999,query regarding management of leaf spot in chi...,advise to spray carbendazim @ 2g/lt of water.

In [34]:
test_data.to_csv(r"C:\Users\amank\Downloads\Agri-chatbot-versions\testCode\data\sample_test_data_30000.csv", index=False)

In [63]:
brinjal_rows = data[data['questions'].str.contains("variety of brinjal", case=False, na=False)]
brinjal_rows

,questions,answers
35,asked about the suitable variety of brinjal fo...,"suggested to use following varieties, pusa pur..."
2675,asking about the variety of brinjal and pumpkin,"brinjal- pusa purple cluster , borbengena , ku..."
2683,asking variety of brinjal and pumkin,suggested him var. like pusa kranti and pusa p...
2687,asking variety of brinjal,suggested him pusa purple long and pusa kranti
6231,asking about some variety of brinjal,suggested to grow variety like-pusa purple kra...
...,...,...
165362,asking about some variety of brinjal,suggested to grow variety like-pusa purple kra...
167416,asking about some variety of brinjal,suggested to grow variety like-pusa purple kra...
167860,asking for name of variety of brinjal,recommended him pusa purple long
169797,query about long variety of brinjal.,"long variety brinjal: pusa purple cluster, pus..."
173021,asking about some variety of brinjal.,suggested to grow variety like-pusa purple kra...

In [62]:
brinjal_rows.iloc[1]["questions"]

'asked about the suitable variety of brinjal for assam condition'

In [1]:
import torch
print(torch.cuda.is_available())  # Should return True
# print(torch.cuda.get_device_name(0))  # Verify GPU model

False

In [ ]:
import torch
from sentence_transformers import SentenceTransformer, util

df = data.copy()

df['qa_combined'] = df['questions'].str.lower().str.strip() + ' ' + df['answers'].str.lower().str.strip()

device = 'cuda' if torch.cuda.is_available() else 'cpu'

model = SentenceTransformer('all-MiniLM-L6-v2').to(device)

print(f"Using device: {device}")
print(f"Model device: {next(model.parameters()).device}")



embeddings = model.encode(
    df['qa_combined'],
    convert_to_tensor=True,
    device=device,
    show_progress_bar=True,
    batch_size=512,
)
cosine_scores = util.pytorch_cos_sim(embeddings, embeddings)
print(f"Embeddings device: {embeddings.device}")
to_drop = set()
for i in range(len(df)):
    if i in to_drop:
        continue
    for j in range(i+1, len(df)):
        if cosine_scores[i][j] > 0.95:
            to_drop.add(j)

df_dedup = df.drop(index=list(to_drop)).reset_index(drop=True)

print(f"Original rows: {len(df)}")
print(f"Rows after deduplication: {len(df_dedup)}")

Using device: cpu
Model device: cpu

Batches:   0%|          | 1/350 [01:36<9:23:50, 96.94s/it]

In [69]:
from sentence_transformers import SentenceTransformer, util

q1 = "asking about treatment of diarrhoea in cow."
a1 = "suggested to administer neblon powder @50 gm twice daily."

q2 = "asking about treatment diarrhoea in cow."
a2 = "suggested to administer nt-zole bolus @ 2 bolus for 3 days."

text1 = q1.lower().strip() + " " + a1.lower().strip()
text2 = q2.lower().strip() + " " + a2.lower().strip()

model = SentenceTransformer('all-MiniLM-L6-v2')

embedding1 = model.encode(text1, convert_to_tensor=True)
embedding2 = model.encode(text2, convert_to_tensor=True)

cosine_score = util.pytorch_cos_sim(embedding1, embedding2)

print(f"Cosine similarity score: {cosine_score.item():.4f}")

Cosine similarity score: 0.7249